extends layouts/layout

block content
  .container
    h1= "Add a store"

    form(name="add-store", method="post" action="/stores")
      div.input
        span.label Title
        input(type="text", name="title")
      div.actions
        input(type="submit", value="add")