extends ../layouts/layout

block content
  .container
    h1= "Edit Store"
    form(name="edit-store", method="post" action="/stores/#{store.id}")
      div.input
        span.label Title
        input(type="text", name="title")
      div.actions
        input(type="submit", value="add")