doctype html
html
  head
    title= "Product Sync"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/stores.js")
  body
    include header
    block content
    include footer
